[submodule "External/FusionShared"]
	path = External/FusionShared
	url = https://github.com/AetherPS/FusionShared
[submodule "External/StubMaker"]
	path = External/StubMaker
	url = https://github.com/OSM-Made/StubMaker
